body {
  width: 90%;
  margin: 0 auto;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.pig_img {
  width: 20%;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
}

.player_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.current_score_container {
  text-align: center;
  border: solid 1px black;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
}
