body {
  width: 90%;
  margin: 0 auto;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Nunito", sans-serif;
  position: relative;
}

header {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.pig_img {
  width: 20%;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  width: 70%;
  min-width: 750px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  overflow: hidden;
  position: relative;
}
.btn--new {
  left: 1%;
}

h2 {
  color: rgb(4, 92, 83);
}

.player_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}
.player1_container {
  background-color: rgb(217, 247, 244);
}

.current_score_container {
  text-align: center;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(91, 195, 192);
}
.current_score {
  font-size: 1.7rem;
}

.total_score {
  margin-top: 1px;
}

.total_score {
  font-size: 2rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

.dice {
  position: absolute;
  width: 10%;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(33, 33, 33);
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn--new {
  left: 10%;
}
.btn--roll {
  top: 13.3rem;
}
.btn--hold {
  top: 18.1rem;
}
/* class HIDEEN will be added to dice img at the start of the game, so it disappears */
.hidden {
  display: none;
}
